@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject SignOutSessionStateManager SignOutManager
@inject NavigationManager Navigation

<nav class="navbar">
    <div class="navbar-start">
        <div class="tabs">
            <NavLink href="" Match="NavLinkMatch.All" ActiveClass="tab-active" class="tab">Funicular</NavLink>
            <NavLink href="counter" ActiveClass="tab-active" class="tab">Counter</NavLink>
            <NavLink href="fetchdata" ActiveClass="tab-active" class="tab">Fetch data</NavLink>
        </div>
    </div>
    <div class="navbar-end">
        <div class="btn-group">
            <AuthorizeView>
                <Authorized>
                    <a href="/authentication/profile" class="btn btn-primary btn-sm">
                        <strong>Hello, @context.User.Identity?.Name!</strong>
                    </a>
                    <a @onclick="BeginSignOutAsync" class="btn btn-sm">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/authentication/register" class="btn btn-primary btn-sm"><strong>Register</strong></a>
                    <a href="/authentication/login" class="btn btn-sm">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
    private async Task BeginSignOutAsync()
    {
        if (SignOutManager is not null) await SignOutManager.SetSignOutState();
        Navigation?.NavigateTo("authentication/logout");
    }
}
