<nav class="navbar">
    <div class="navbar-start">
        <div class="tabs">
            <NavLink href="" Match="NavLinkMatch.All" ActiveClass="tab-active" class="tab">Funicular</NavLink>
            <NavLink href="counter" ActiveClass="tab-active" class="tab">Counter</NavLink>
            <NavLink href="fetchdata" ActiveClass="tab-active" class="tab">Fetch data</NavLink>
        </div>
    </div>
</nav>
