@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<article class="prose">
    <h2>@ViewData["Title"].</h2>
</article>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <article class="prose">
        <h4>Create a new account.</h4>
    </article>
    <div class="divider"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-control">
        <label asp-for="Email" class="label"></label>
        <input asp-for="Email" class="input input-bordered" />
    </div>
    <div class="form-control">
        <label asp-for="Password" class="label"></label>
        <input asp-for="Password" class="input input-bordered" />
    </div>
    <div class="form-control">
        <label asp-for="ConfirmPassword" class="label"></label>
        <input asp-for="ConfirmPassword" class="input input-bordered" />
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>