@using Microsoft.AspNetCore.Identity
@inject SignInManager<FunicularUser> SignInManager
@inject UserManager<FunicularUser> UserManager

@if (SignInManager.IsSignedIn(User)) {
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <a asp-controller="Manage" asp-action="Index" title="Manage" class="button is-primary">Hello @UserManager.GetUserName(User)!</a>
        <button type="submit" class="button is-light">Log off</button>
    </form>
}
else {
    <div class="navbar-item">
        <div class="buttons">
            <a asp-controller="Account" asp-action="Register" class="button is-primary"><strong>Register</strong></a>
            <a asp-controller="Account" asp-action="Login" class="button is-light">Log in</a>
        </div>
    </div>
}
